/* Styles pour le footer */
.footer-container {
    display: flex;
    justify-content: center; /* Centre horizontalement les enfants */
}

.footer-container a {
    color: black;
    font-size: medium;
    text-decoration: none; /* Supprime le soulignement */
}

.footer-container li {
    list-style: none;
}