.commander-general {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.commander-commande {
    border-top: 1px solid white; /* Ligne blanche fine */
    border-bottom: 1px solid white; /* Ligne blanche fine */
}

.commander-commande input {
    width: 30px;
    height: 40px;
    text-align: center;
}

.commander-produit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* JEN SUIS LA */

.commander-colonne {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.commander-colonne input {
    display: flex;
    flex-direction: column;
}

.commander-info {
    border-right: 1px solid white; /* Ligne blanche fine */
    padding-right: 5%;
}

.commander-livraison {
    padding-left: 5%;
}

.commander-submit {
    display: flex;
    justify-content: center;
}

label {
    font-family: syne;
    font-size: small;
    color: white;
}

.commander-title {
    font-family: syne;
    font-size:medium;
    font-weight: bold;
    color: white;
}


<div class="commander-general">

    <div class="commander-commande">

        <label class="commander-title">Votre commande</label>

        <div class="commander-produit">

            [text commande-fraise "0"]

            [text commande-pamplemousse "0"]

            [text commande-framboise "0"]

            [text commende-citron "0"]

        </div>

    </div>

    <div class="commander-colonne">

        <div class="commander-info">

            <label class="commander-title">Vos informations</label>

            <label>Nom[text Nom class:form-commande-info]</label>

            <label>Prénom[text Prenom class:form-commande-info]</label>

            <label>E-mail[email E-mail class:form-commande-info]</label>

        </div>

        <div class="commander-livraison">

            <label class="commander-title">Livraison</label>

            <label>Adresse de livraison[text Adresse-de-livraison class:form-commande-livraison]</label>

            <label>Code postal[text Code-postal class:form-commande-livraison]</label>

            <label>Ville[text Ville class:form-commande-livraison]</label>

        </div>

    </div>

    <div class="commander-submit">

        [submit class:form-commande-submit "Commander"]

    </div>

</div>