/* Importez une police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: white;
    font-family: 'syne';
    font-size: small;
    margin: 0;
}

.navigation .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation .menu-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu li {
    padding: 30px 30px 30px 30px;
}

.menu li:nth-child(2) {
    padding: 30px 50px 30px 30px;
  }

.menu > li:last-child {
    background-color: #DC9F96; /* Applique un style au dernier <li> principal uniquement */
    color: white;
    padding: 30px 50px 30px 50px;
  }

  .menu > li:last-child a {
    color: white;
  }

/* Style général pour le logo */
.logo img {
    max-width: 160px; /* Empêche le logo de dépasser la largeur de son conteneur */
    height: auto; /* Maintient les proportions */
    display: block; /* Évite les espaces sous l'image */
}

/* Ajustements pour les petits écrans */
@media (max-width: 500px) {
    .logo img {
        max-width: 200px; /* Réduit la taille pour les petits écrans */
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        gap: 20px;
        background-color: white;
        border-bottom: 1px solid #ddd;
    }
}